<div class="bg-success container text-light d-flex flex-column " style="min-height: 100vh;">
<div class="border shadow rounded p-4 my-3">
    <i class="fa-solid fa-kitchen-set fs-3"></i>
  <span class="text-warning fw-bolder">Cookpedia Admin</span>   
</div>
<ul style="list-style: none;">

    <li>
        <a style="text-decoration: none; color: wheat;" routerLink="/admin">Dashboard</a>
    </li>
    <li>    <a style="text-decoration: none; color: wheat;" routerLink="/admin/recipe-list">Recipe List</a> </li>
    <li> <a style="text-decoration: none; color: wheat;" routerLink="/admin/user-list">User List</a> </li>
    <li> <a style="text-decoration: none; color: wheat;" routerLink="/admin/download-list"> Download list</a> </li>
    <li> <a style="text-decoration: none; color: wheat;" routerLink="/admin/feedback-list">  Feedback List </a></li>
</ul>
</div>