<div class="row container-fluid">
  <div class="col-2 p-0">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-10">
    @if (id) {
      <h1 class="text-center my-3">Update Recipe Details</h1>
    }@else {
    <h1 class="text-center my-3">Add Recipe Details</h1>

    }

    <div class="container my-5 border rounded text-center p-5 shadow w-75">
      <img width="100px" height="100px" class="mb-2" [src]="newRecipeArray.image" alt="no Image" />

      <div class="row">
        <div class="col-6">
          <div class="mb-2">
            <input
              [(ngModel)]="newRecipeArray.name"
              placeholder="Recipe Name"
              type="text"
              class="form-control"
            />
          </div>
          <div class="mb-2">
            <input
              [(ngModel)]="newRecipeArray.prepTimeMinutes"
              placeholder="Recipe Preparation time in Minutes"
              type="text"
              class="form-control"
            />
          </div>
          <div class="mb-2">
            <input
              [(ngModel)]="newRecipeArray.image"
              placeholder="Recipe Image URL"
              type="text"
              class="form-control"
            />
          </div>
          <div class="mb-2">
            <label for="cuisine">Choose Cuisine type</label>
            <select
              [(ngModel)]="newRecipeArray.cuisine"
              name="cuisine"
              id="cuisine"
              class="form-control"
            >
              <option selected hidden disabled>Choose Cuisine type</option>
              @for (item of cuisineArray; track $index) {
              <option [value]="item">{{ item }}</option>
              }
            </select>
          </div>
          <div class="mb-2">
            <div class="d-flex align-items-center mb-2">
              <textarea
                #ingredient
                class="form-control"
                placeholder="Add Recipe Ingredients"
              ></textarea>
              <button
                (click)="addIngredients(ingredient)"
                class="btn btn-primary ms-1"
              >
                +
              </button>
            </div>

            @for (item of ingredients; track $index) {
            <div class="d-flex align-items-center mb-2">
              <input
                [value]="item"
                class="form-control"
                placeholder="Recipe Ingredients"
              />
              <button (click)="removeIngredient(item)" class="btn ms-1">
                <i class="fa-solid fa-trash text-danger"></i>
              </button>
            </div>
            }
          </div>
        </div>
        <div class="col-6">
          <div class="mb-2">
            <input
              [(ngModel)]="newRecipeArray.servings"
              placeholder="Recipe Servings (ex: 4 )"
              type="text"
              class="form-control"
            />
          </div>
          <div class="mb-2">
            <input
              [(ngModel)]="newRecipeArray.cookTimeMinutes"
              placeholder="Recipe Cooking time in Minutes"
              type="text"
              class="form-control"
            />
          </div>
          <div class="mb-2">
            <input
              [(ngModel)]="newRecipeArray.caloriesPerServing"
              placeholder="Recipe Calorie Per Servings (ex: 350)"
              type="text"
              class="form-control"
            />
          </div>
          <div class="mb-2">
            <label for="difficulty">Choose Mode of Cooking</label>
            <select [(ngModel)]="newRecipeArray.difficulty" name="mode" id="difficulty" class="form-control">
              <option selected hidden disabled>Choose Mode of Cooking</option>
              <option value="Easy">Easy</option>
              <option value="Medium">Medium</option>
              <option value="Hard">Hard</option>
            </select>
          </div>
          <div class="mb-2">
            <div class="d-flex align-items-center mb-2">
              <textarea
                #instructionInput
                class="form-control"
                placeholder="Cooking Instructions"
              ></textarea>
              <button
                (click)="addInstructions(instructionInput)"
                class="btn btn-primary ms-1"
              >
                +
              </button>
            </div>

            @for (item of instructions; track $index) {
            <div class="d-flex align-items-center mb-2">
              <input
                [value]="item"
                class="form-control"
                placeholder="Recipe Instrcution"
              />
              <button (click)="removeInstructions(item)" class="btn ms-1">
                <i class="fa-solid fa-trash text-danger"></i>
              </button>
            </div>
            }
          </div>
        </div>
      </div>
      <div class="mb-3">
        <div class="border rounded p-2">
          @if (id) {

            @for (item of mealTypeArray; track $index) {
                <span class="ms-1 p-1"> {{item}} </span>
                <button (click)="removeMealItem(item)" class="btn"><i class="fa-solid fa-close text-danger"></i></button>
            }
          }
        

          <div class="d-flex flex-wrap my-1">
            @for (item of mealArray; track $index) {
            <div class="border rounded p-1 m-2">
              <label>
                <input
                  (change)="mealTypeCheck($event)"
                  type="checkbox"
                  [name]="item"
                  id="meal"
                />
                {{ item }}
              </label>
            </div>
            }
          </div>
        </div>
      </div>
@if (id) {
   <button (click)="editRecipe()" class="btn btn-success">Edit Recipe</button>
}@else {
 <button (click)="addRecipe()" class="btn btn-success">Add Recipe</button>
}
     
    </div>
  </div>
</div>
